* {
    box-sizing: border-box;
    padding: 0;
}

.form {
    background-color: #7dc2af;
    padding: 0;
    margin: 0;
    height: 300px;
}
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
#Descriptions {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    height: 300px;
}

button {
    background-color: #e8a87c;
}

